@model Album

<div class="card m-2 p-1 col-4" style="max-width: 300px; max-height: 500px; width: 300px; height: 500px">
    <img src="~/images/albums/@Model.Image" class="card-img-top"/>
    <div class="card-body">
        <h5 class="card-title" style="color: black">
            @Model.Name
        </h5>
        <p class="card-text" style="color: black">
            @Model.Duration
        </p>
        <div class="card-subtitle badge">
            <h4 style="color: black">$@Model.Price</h4>
        </div>

        @{
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path + request.QueryString.ToUriComponent();
        }

        <a asp-action="Add"
           asp-controller="Cart"
           asp-route-id="@Model.Id"
           asp-route-returnUrl="@returnUrl"
           class="btn btn-outline-info">
            To cart
        </a>
    </div>
</div>
