@model Album
@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="col-sm-3">
    <div class="card mb-2" style="width: 20rem;">
        <img src="~/images/albums/@Model.Image" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@Model?.Name</h5>
            <p class="card-text">@Model?.Description</p>
            <p class="card-text"><small class="text-muted">Duration: @Model.Duration</small></p>
            <p class="card-text"><small class="text-muted">Price: @Model.Price</small></p>
            <p class="mt-2">
                <a asp-action="Add"
                   asp-controller="Cart"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@returnUrl"
                   class="btn btn-primary">
                    <i class="fa fa-shopping-cart"></i> В корзину
                </a>
            </p>
        </div>
    </div>
</div>
<script src="lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
    $("li.page-item").click(function (e){
        e.preventDefault();

        var uri = this.attributes["href"].value;

        $("#list").load(uri);
        $(".active").removeClass("active disabled");
        $(this).parent().addClass("active");

        history.pushState(null, null, uri);
    });
    });
</script>


