@using WEB_0535005_Vashkevich.Blazor.Shared
@using System.Text.Json.Serialization

@if(Albums is not null)
{
    <div class="list-group">
        @for (var i = 0; i < Albums.Length; i++)
        {
            var copy = i;
            var album = Albums[copy];
            <button class="list-group-item list-group-item-action @(selection == copy ? "active": null)"
            @onclick="() => ChangeSelection(copy)">
                @(copy+1). @album.Name    
            </button>
        }
    </div>
}


@code {
    private int selection;

    [Parameter]
    public Album[] Albums { get; set; }
    [Parameter]
    public EventCallback<Album[]> AlbumsChanged { get; set; }
    [Parameter]
    public EventCallback<int> SelectionChanged { get; set; }

    private async Task ChangeSelection(int newSelection)
    {
        selection = newSelection;
        await SelectionChanged.InvokeAsync(selection);
    }
}
