@using System.Text.Json;
@using WEB_0535005_Vashkevich.Blazor.Shared

@inject HttpClient HttpClient
@page "/api/albumdemo"

<h3>AlbumDemo</h3>

<div class="container">
    <AlbumListViewModel @bind-Albums="@albums" SelectionChanged="ShowDetails"/>
</div>

<div class="mt-3">
    <AlbumDetailViewModel @bind-Alb="@selectedAlbum"/>
</div>


@code {
    private Album[] albums;
    private Album selectedAlbum;
    private int selectedItem;


    protected override async Task OnInitializedAsync()
    {
        albums = await HttpClient.GetFromJsonAsync<Album[]>("/api/Albums");
    }

    private async Task ShowDetails(int newSelection)
    {
        selectedItem = newSelection;
        selectedAlbum = await HttpClient.GetFromJsonAsync<Album>($"/api/Albums/{albums[selectedItem].Id}");
    }
}
